<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body>
      <h2>User Group Status Board</h2>
      <div>
          <table class="left">
            <thead>
              <th>Seite</th>
              <th>Status</th>
              <th>Letzte Änderung/<br>Letzter Check</th>
              <th></th>
            </thead>
            <tbody>
              {{range $index, $element := .}}
                {{ if odd $index}}
                    <tr>
                      <td><a href="{{.Url}}">{{.Title}}</a></td>
                      <td class="status_{{.Status}}">{{.Status}}</td>
                      <td>{{.Date.Format "Jan 2 15:04:05"}}</td>
                      <td><a href="/reset?title={{.Title}}">Zur&uuml;cksetzen</a></td>
                    </tr>
                {{end}} 
              {{end}}            
            </tbody>
          </table>
          <table>
            <thead>
              <th>Seite</th>
              <th>Status</th>
              <th>Letzte Änderung/<br>Letzter Check</th>
              <th></th>
            </thead>
            <tbody>
               {{range $index, $element := .}}
                {{ if even $index}}
                    <tr>
                      <td><a href="{{.Url}}">{{.Title}}</a></td>
                      <td class="status_{{.Status}}">{{.Status}}</td>
                      <td>{{.Date.Format "Jan 2 15:04:05"}}</td>
                      <td><a href="/reset?title={{.Title}}">Zur&uuml;cksetzen</a></td>
                    </tr>
                {{end}} 
              {{end}}
            </tbody>
          </table>
      </div>
    <br/>
    <form action="add" method="get">
        Titel: <input type="text" name="title">
        Url: <input type="text" name="url">
        <input type="submit" value="Hinzuf&uuml;gen">
    </form>
  </body>
</html>
