table, th, td
{
	border: 1px solid #999;
	border-collapse: collapse;
}

.status_OK {
    background: #aacc00;
}

.status_CHANGED {
    background: #ffd320;
}

.status_ERROR {
    background: #f92c04;
}
